<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

  名前:<%= @user.name %>
  <br>
  パスワード:<%= @user.password %>
  <br>
  メールアドレス:<%= @user.email %>
  <br>
  <% if @user.address? %>
  住所:<%= @user.address %>
  <% else %>
  住所:未入力
<% end %>
<br>
<%= link_to "Edit profile", edit_user_path(@user) %>

